.body_background 
{
    background-position: center;
    background-size:contain;
	background:url("Grass.jpg");
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{

	display: inline-block;
	color: red;
	background-color: rgb(255, 255, 255);
	font-family: fantasy;
}

